<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			 aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Casey Industrial Park</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Site Info
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/utilities.html">Site Utilities</a>
						</li>
						<li>
							<a href="/directions.html">Driving Directions</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Space Available
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/space.html">Overview</a>
						</li>
						<li>
							<a href="/building1.html">Building No. 1</a>
						</li>
						<li>
							<a href="/building2.html">Building No. 2</a>
						</li>
						<li>
							<a href="/building3.html">Building No. 3</a>
						</li>
						<li>
							<a href="/building4.html">Building No. 4</a>
						</li>
						<li>
							<a href="/building9.html">Building No. 9</a>
						</li>
						<li>
							<a href="/building14.html">Building No. 14</a>
						</li>
						<li>
							<a href="/shop.html">Electric Shop</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maps
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/maps.html">Overview Maps</a>
						</li>
						<li>
							<a href="/areamap.html">Area Map</a>
						</li>
						<li>
							<a href="/localmap.html">Local Map</a>
						</li>
						<li>
							<a href="/streetmap.html">Street Map</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/news.html">News Releases</a>
						</li>
						<li>
							<a href="/links.html">Useful Links</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/directions.html">Directions</a>

				</li>
				<li>
					<a href="/contact.html">Contact</a>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>